<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iVentory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
        <header class="navbar">
            <!-- Need to change and link correctly-->
                {{!-- <a href="/">iVentory</a> --}}


            <nav>
                <a>iVentory</a>
                <a href="/register">Register</a>
                <a href="/login">Home</a>

                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/account">Account</a> |
                {{!-- <button class="button" id="logout">logout</button> --}}
                {{else}}
                <a href="/register"></a>
                {{/if}}
            </nav>
        </header>
        <main>
            <!-- Render the body layout -->
            {{{ body }}}
        </main>

        <footer>
        </footer>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>