<main>
        <div class="row">
            <div class="container">
                <div>
                    <h1>iVentory</h1>
                    <div class="form-group">
                        <p class="text-end"><label for="email-signup">Search our Database by Item:</label>
                            <input class="form-input" type="text" />
                            <button>Search</button>
                        </p>
                    </div>
                    <form>
                        <h2>New Request:</h2>
                        <div class="form-group">
                            <p class="text-end"><label for="email-signup">Create an Episodic Title:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="email-signup">Quantity Needed:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="email-signup">Cost of Item:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="email-signup">Dates Requested:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="email-signup">Location:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <button>Submit</button>
                    </form>
                <div>
                    <h1>Welcome!</h1>
                    <h2>Instructions:</h2>
                    <p>Click create to request movie equipment.</p>
            </div>
        </div>
    </main>
    <script src="./js/login.js"></script>
</body>

</html>