<main>
        <div class="row">
            <div class="container">
                <div>
                    <h1>iVentory</h1>
                    <div class="form-group">
                        <p class="text-end"><label for="email-signup">Search our Database by Item:</label>
                            <input id="search-input" class="form-input" type="text" />
                            <button id="search-button">Search</button>
                        </p>
                    </div>
                    <form onsubmit="saveData(event)">
                        <h2>New Request:</h2>
                        <div class="form-group">
                            <p class="text-end"><label for="episodic-title">Create an Episodic Title:</label>
                                <input class="form-input" name="episodic-title" type="text" />
                            </p>
                        </div>
                        <div id="search-results"></div>
                        <div class="form-group">
                            <p class="text-end"><label for="item">Item:</label>
                                <input class="form-input" name="item" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="quantity-needed">Quantity Needed:</label>
                                <input class="form-input" name="quantity-needed" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="cost-of-item">Cost of Item:</label>
                                <input class="form-input" name="cost-of-item"type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="start-date">Start Date:</label>
                                <input class="form-input" name="start-date" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="return-date"> Return Date:</label>
                                <input class="form-input" name="return-date" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="location">Location:</label>
                                <input class="form-input" name="location" type="text" />
                            </p>
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                <div>
                    <h1>Welcome!</h1>
                    <h2>Instructions:</h2>
                    <p>Click create to request movie equipment.</p>
            </div>
        </div>
    </main>
    <script src="/js/login.js"></script>
    <script src="/js/account.js"></script>
</body>

</html>