<main>
      <div class="box1">
            <div class="box4">
                <div class="sqaure2">
                    <h1>iVentory</h1>
                    <div class="form-group">
                        <p class="text-end"><label for="email-signup">Search our Database by Item:</label>
                            <input class="form-input" type="text" />
                            <button>Search</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box1 row">
            <div class="box5 container">
                <div class="sqaure3 col-6">
                    <form class="box3">
                        <h2>New Request:</h2>
                        <div class="form-group">
                            <p class="text-end"><label for="email-signup">Create an Episodic
                                    Title:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="quantity">Quantity Needed:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="cost">Cost of Item:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="dates">Dates Requested:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="location">Location:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <button>Submit</button>
                    </form>
                </div>
            </div>
            <div class="box2">
                <div class="sqaure2 col-6">
                    <h1>Welcome!</h1>
                    <h2>Instructions:</h2>
                    <p>Search a specific item you are looking for.</p>
                    <p>Or create a new request by filling out the form and submiting it.</p>
                    <p>Pending requests will be saved to the page for you to view.</p>
                </div>
            </div>
        </div>
        <div class="box6 row">
            <div class="box5 container">
                <div class="sqaure3 col-6">
                    <div class="box3">
                        <h2>Pending Request:</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="box2">
                <div class="sqaure2 col-6">
                    <h2></h2>
                    <p></p>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/login.js"></script>
</body>

</html>