  <main>
        <div class="box1">
            <div class="box2">
                <div class="sqaure margin">
                    <div><br>Login</div>
                    <div>
                        <div class="form-group">
                            <p class="text-end"><label for="email-signup">Email:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-end"><label for="password-signup">Password:</label>
                                <input class="form-input" type="text" />
                            </p>
                        </div>
                        <div class="center">
                            <button><a href="">Submit</a></button>
                        </div>
                    </div>
                    <div>
                        <p>Don't have an account? Register here!</p>
                        <button ><a href="">Register</a></button>
                    </div>
                </div>
            </div>
            <div class="box2">
                <div>
                    <div><br><img src="iventory.png" alt="ballerina"></div>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/login.js"></script>
</body>

</html>