 <main>
        <div class="container">
            <ul class="outer-container">
                <li>
                    <div><br>Login</div>
                    <div class="form-group">
                        <p class="text-end"><label for="email-signup">Email:</label>
                            <input class="form-input" type="text" />
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="text-end"><label for="password-signup">Password:</label>
                            <input class="form-input" type="text" />
                        </p>
                        <button>Submit</button>
                    </div>
                    <div>
                        <p>Don't have an account? Register here!</p>
                        <button>Register</button>
                    </div>
                </li>
                <li>
                    <div class="outer-container">
                        <div><br><img src="iventory.png" alt="ballerina"></div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="./js/login.js"></script>
</body>

</html>