<main>
    <div class="box1 row">
        <div class="box2 container">
            <div class="sqaure margin col-6">
                <div><br>Login</div>
                <form onsubmit="loginFormHandler(event)">
                <div class="box3">
                    <div class="form-group">
                        <p class="text-end"><label for="email-login">Email:</label>
                            <input class="form-input" type="text" name="email-login" />
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="text-end"><label for="password-login">Password:</label>
                            <input class="form-input" type="text" name="password-login" />
                        </p>
                    </div>
                    <div class="center">
                        <input type="submit" value="Submit" /> 
                    </div>
                </div>
                </form>
                <div>
                    <p>Don't have an account? Register here!</p>
                    <button><a href="">Register</a></button>
                </div>
            </div>
        </div>
        <div class="box2">
            <div>
                <div class="col-6"><br><img src="iventory.png" alt="ballerina"></div>
            </div>
        </div>
    </div>
</main>
<script src="/js/login.js"></script>
</body>

</html>