img {
    width: 1000px;
    height: auto;
    position: absolute;
}
.container {
    display: flex; 
    width: 100px; 
}
.outer-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
list-style: none;
}